
body{
    color: #24242c;
    font-family: 'Poppins';
}

p{
    padding:1%;
    padding-left: 5%;
    text-indent: 3%;
}
h1{
    font-size: 90px;
    padding: 25px;
}

h2{
    font-size: 200%;
    display:flex;
    padding: 1%;
}
/* styling my header page */
.flex-container{
    background-color: #fefaec;
    width: 100%;
    color:rgb(222, 78, 34);
    display:flex;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

/* styling for my navigation*/

ul{
    list-style-type: none;
    border-radius: 10px;
    margin: 12px;
    padding: 12px;
    color:rgb(222, 78, 34);
    flex-shrink: 0;
}

li{
    display: inline;
    padding: 12px;
    color:rgb(222, 78, 34);
}

a:visited{
    color: inherit;
}

/* styling the about me page*/ 
#Get-To-Know-Me {
    width: 100%;
    background-color: #fefaec;
}

#box{
    justify-content: flex-start;  
    flex-direction: row;
    align-items: flex-start;
    display: inline-block;
}

.description{
    padding:1%;
    padding-left: 5%;
    text-indent: 3%;
    display: inline-block;
    align-self: flex-start;
}

.avatar{
    width: 500px;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
    display: inline-block;
}

.description{
 min-width: 500px;
 max-width: 500px;
 align-self:flex-start;
}
   
/* Styling the main part of my page*/
   main {
    width: 100%;
    background-color: rgb(222, 78, 34);
    height: 100%;

   }


#Projects{
    color: #fefaec;

}

.screenshots{
    max-block-size: 500px;
}

@media  (max-width: 990px) {
    #something{
        width: 75%;
    }
}

@media and (max-width: 550px) {

}

/* Styling my footer*/

footer{
    color:#fefaec;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #24242c;
    width: 100%;
}

#container{
    justify-content: center;
    width: 100%;
    display:flex;
}

.icon{
    width: 50px;
    height: 50px;
    padding: 2%;
}
